page-home {

}
<<<<<<< HEAD
=======

>>>>>>> fa2a1f6badf48e5c4d1cc1b4561bc203a1e78e1c
.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
<<<<<<< HEAD
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 2px 8px black;
=======
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
>>>>>>> fa2a1f6badf48e5c4d1cc1b4561bc203a1e78e1c
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }
